{% extends "base.html" %}

{% block content %}
<h1>{{ name }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col" width="50px">#</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    {% set count = namespace(c=1) %}
    {% for cat in cats %}
    <tr>
      <td scope="row">{{ count.c }}.</td>
      <td>{{ cat.name }}</td>
      <td>{{ cat.type }}</td>
    </tr>
    {% set count.c = count.c+ 1 %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
